body
{


    background-image:url("Patron.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0%;
    font-size: 50px;
    display: flex;justify-content: center;
    align-items: center;

}

.button
{
    height: 50px;
    width: 30px;
    font-size: 10px;
    
}
